.about-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*background-color: #f5e6d3; */
  padding: 50px 0;
  
}
.about-section-container.section{
  margin-top:10%;
}

.about-section {
  width: 95%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content:space-between; /* Öğeler arası boşluk */
  position: relative;
  padding: 20px;
  border-top: 2px solid black;
}
.about-section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 5%;
  background-color: black;
}

.about-title-container {
  
  align-items: center;
  text-align: left; /* Başlığı sola hizala */
}

.about-title {
  font-size: 1.8rem;
  color: #000;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 500;
}
.left {
  text-align: left;
}

/* Title ortada hizalanacak */
.center {
  text-align: center;
}

.about-text-container {
  text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
  margin-top: 5%;/* Metni ortala */
}

.about-text {
  font-size:3rem;
  line-height: 1.8;
  max-width: 70%;
  color: #333;
  text-align: center;
  margin-bottom: 10px; /* Alttaki marjini azalt */
  font-weight: 400;
}

.learn-more-container {
  text-align: center; /* "Learn more" düğmesini ortala */
  margin-top:2%;
 
}

.learn-more {
  padding: 10px 20px;
   /* Üstten daha az boşluk bırak */
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  text-align: center;
}

.learn-more span {
  font-weight: bold;
}

.learn-more:hover {
  text-decoration: underline;
  transition: 0.25s;
}

.arrow {
  margin-left: 10px;
  font-size: 1em;
}

/* Tablet ve daha küçük ekranlar için */
@media screen and (max-width: 768px) {
  .about-title {
    font-size: 1.8rem;
  }
  .about-text {
    font-size: 1.5rem;
    text-align: left; /* Küçük ekranlarda sola hizala */
  }
  .learn-more {
    font-size: 1.2rem;
  }
}

/* Mobil cihazlar için */
@media screen and (max-width: 480px) {
  .about-title {
    font-size: 1.5rem;
  }
  .about-text {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .learn-more {
    font-size: 1rem;
  }
}
