.projects-slide-container {
    margin-top: 10%;
    padding: 20px 50px;
    width: 100%;
    max-width: 95%; /* max-w-4xl */
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid black;
    position: relative; /* Konteynerin içindeki elemanları hizalamak için gerekli */
    margin-bottom: 100px;
}

/* Sağ tarafta %20 border */
.projects-slide-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5%; /* Border'ın genişliği */
    height: 5%; /* Border'ın yüksekliği */
    border-right: 2px solid black;
}

.section-title {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: -25px;
}

/* Başlık */
.project-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 60px;
}

/* Proje içerik düzeni */
.project-slide-content {
    text-align: center;
}

/* Flex düzeni */
.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: 100%;
    height: 100%;
}

/* Resim düzeni */
.project-image {
    width: 50%;
    height: 300px;
    object-fit:contain;
    object-position: center;
    border-radius: 8px;
    margin-bottom: 20px; /* Altına boşluk ekleniyor */
}

/* Açıklama düzeni */
.project-description {
    margin-top: 0; /* Fazladan boşluk kaldırılıyor */
    font-size: 1.4rem;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    width: 100%; /* Genişlik görsele göre ayarlanıyor */
}

/* Masaüstü düzeni */
@media (min-width: 768px) {
    /* Proje içeriğini dikey düzende tutuyoruz */
    .project-content {
        flex-direction: column; /* Dikey hizalama */
        align-items: center; /* Elemanları ortala */
        justify-content: center;
        text-align: center;
    }
    .project-title{
        font-size: 44px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 52px;
    }

    /* Görsel boyutunu artırıyoruz */
    .project-image {
        width: 90%;
        object-position: center;
        height: 700px; /* Görselin yüksekliği */
    }

    /* Açıklama düzeni görselin altında kalıyor */
    .project-description {
        text-align: center;
        max-width: 70%;
        font-size: 22px;
        font-weight: 500;
        line-height: 29px;
        margin-top: 50px; /* Görsel ile açıklama arasında boşluk */
    }
}
