.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
  padding: 150px 0; /* Üst ve alt boşluk */
}

.services-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.service-item {
  width: 100%;
  height: 100px; /* Kapalı durumdaki yükseklik */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  padding: 10px;
  border-top: 3px solid black;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.service-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 10%;
  background-color: black;
  transition: height 0.5s ease;
}

.service-item.active::after {
  height: 50%; /* Açık durumda sağ border tam yükseklikte */
}

.service-title {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  top: 0;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-arrow {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  position: absolute;
  right: 30px;
  
}

.service-arrow.active {
  transform:rotate(90deg);
}

.service-title h2 {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #000;
  margin: 0;
}

.service-item.active .service-title {
  transform: translateY(-10px) translateX(40%); /* Başlığı yukarı kaydır */
}

.service-description {
  display: flex;
  justify-content: center;
  opacity: 0;
  text-align: center;
  transform: translateY(20px);
  transition: all 0.5s ease;
  width: 100%;
  padding: 20px;
  margin-top: 80px; /* Başlık yüksekliği kadar boşluk */
}

.service-item.active .service-description {
  opacity: 1;
  transform: translateY(0);
}

.service-description p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #333;
  text-align: center;
  max-width: 800px;
  margin: 0;
}

.service-item.active {
  height: auto; /* Açık durumdaki yükseklik */
  
}

/* Mobil Uyum */
@media (max-width: 768px) {
  .service-item {
    height: 80px;
  }

  .service-item.active {
    height: auto;
    min-height: 300px;
  }

  .service-description {
    margin-top: 40px;
  }

  .service-title h2 {
    font-size: 1.6rem;
  }

  .service-description p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .service-title h2 {
    font-size: 1.4rem;
  }

  .service-description p {
    font-size: 1rem;
  }
}